<<<<<<< HEAD
<div id="root"></div>
<%= javascript_pack_tag 'index' %>
=======
<h1>Welcome#app</h1>
<p>Find me in app/views/welcome/app.html.erb</p>
>>>>>>> parent of b389c45... add routes for app and home folder. add link helper to app page on home folder
