<nav style="text-align: right">
<% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <% else %>
    <%= link_to('Login', new_user_session_path)  %> |
    <%= link_to('Sign Up', new_user_registration_path)  %>
  <% end %>
</nav>
<h1>Welcome#home</h1>
<<<<<<< HEAD
<p>If you're logged in, check out <%= link_to "the app", app_path %>!</p>
=======
<p>Find me in app/views/welcome/home.html.erb</p>
>>>>>>> parent of b389c45... add routes for app and home folder. add link helper to app page on home folder
